.border {
	border: 1px solid red;
}
.navItem {
	margin: 20px;
	text-decoration: none;
	cursor: pointer;
	color: rgba(100,100,100,.8);
	font-size: 20px;
	/*color: white;*/
}
.navItemSelected {
	margin: 20px;
	text-decoration: none;
	cursor: pointer;
	color: rgba(100,100,100,.8);
	font-size: 20px;
	/*color: white;*/
	border-bottom: 1px solid rgba(100,100,100,.6);
}
.navItem:hover {
	color: rgba(100,100,100,1);
}
.navBar {
	height: 50px;
	border-bottom: 1px solid rgba(200,200,200,.6);
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 8px rgba(200,200,200,.3);
	background-image: linear-gradient(to right, skyblue, rgba(10,120,190,.2));
}

.centerNav {
	
}

.rightNav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 5px;
}

.navBarLogin {
	/*background: rgba(10,120,180,.2);*/
	height: 30px;
	background-image: linear-gradient(to right, skyblue, rgba(10,120,190,.2));
}





.redPulse {
  color: rgba(100,100,100,.8);
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    color: rgba(100,100,100,.8);
  }
  50% {
    color: rgba(250,20,20,1);
  }
  100 {
    color: rgba(100,100,100,.8);
  }
}